<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
NEWS ARTICLES

<body>

    <div class="container">
        {% for article in articles %}
      <p>{{article.name}}</p>

     <p>{{article.title}}</p>
    <p>{{article.description}}</p>
    <p>{{article.url}}</p>
   <img src="{{article.urlToImage}}" alt=""> 
    <p>{{article.publishedAt}}</p>
    <p>{{article.content}}</p>



        {% endfor %}
    </div>



</body>

</html>